<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="css/style.css">

    <title>{{titulo}}</title>
</head>
<body>
    <h1>Inicio</h1>
    <button id="contacto_btn"> <a href="contacto">
        Contacto</a>
    </button>

     <button id="producto_btn"><a href="producto">
        Producto</a>
        
    </button> <button id="index_btn"><a href="/">
        Inicio</a>
        
    </button>
        <script src='js/contador.js'></script>
    <p>Las visitas son {{visitas}}</p>
</body>
</html>