<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contacto</title>
</head>
<body>
    <h1></h1>
    <button id="contacto_btn">
        Contacto
    </button>

     <button id="producto_btn">
        Producto
    </button> <button id="index_btn">
        Inicio
    </button>
</body>
</html>